FLASK_ENV=development
FLASK_DEBUG=1
FLASK_APP=app.py
SECRET_KEY=your_flask_secret_key_here
STORAGE_BACKEND=local
DATA_DIR=C:\Users\TRSI\VSCode\Projects\CryptexCloud\data
STORAGE_DIR=C:\Users\TRSI\VSCode\Projects\CryptexCloud\storage
PBKDF2_ITERATIONS=200000

# AWS S3 (optional)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET_NAME=
S3_REGION=

# SMTP optional
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=
